In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/retail-sales-dataset/retail_sales_dataset.csv

# Customer Segmentation With Python

## Objective

Analyze transaction-level data to:

* Segment one-time customers into spending tiers using a 4-star rating system.

* Discover patterns by gender, age group, and product category

* Visualize insights in an interactive Excel dashboard

* Provide recommendations for improving marketing and sales strategies

### Tools 

* Python & Excel

## Dataset Description
The dataset includes the following columns:

**Column**	          _**Description**

Transaction ID	      _Unique ID for each transaction

Date	              _Date of transaction

Customer ID	          _Unique customer identifier

Gender             	  _Male/Female

Age	                  _Customer’s age

Product Category	  _Product type (e.g., Electronics, Clothing)

Quantity	          _Units purchased

Price per Unit	      _Cost per unit

Total Amount	      _Quantity × Price per Unit


## Segmentation plan 

I 'll create 4 customer groups based on Total Amount spent:

| Spending Range | Star Level | Label             |
| -------------- | ---------- | ----------------- |
| Lowest 25%     | 1         | Budget Shoppers   |
| 25%–50%        | 2         | Moderate Spenders |
| 50%–75%        | 3         | High Spenders     |
| Top 25%        | 4         | Premium Buyers    |

## Coding

In [2]:
#imput the packages
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
#load Dataset
df = pd.read_csv("/kaggle/input/retail-sales-dataset/retail_sales_dataset.csv")  # Replace with your actual file name
df['Date'] = pd.to_datetime(df['Date'])

In [4]:
#Feature Engineering 

## Create Spending Tier 
df['Spending Tier'] = pd.qcut(df['Total Amount'], 4, labels=['1', '2', '3', '4'])

## Create Age Group 

df['Age Group'] = pd.cut(df['Age'], bins=[17, 25, 35, 50, 70], labels=['18–25', '26–35', '36–50', '51+'])

In [5]:
#Export for excel Dashboard

df.to_csv("customer_segmentation_stars.csv", index=False)

In [6]:
#Checking Dataset 
df.head(10)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,Spending Tier,Age Group
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150,3,26–35
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000,4,26–35
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30,1,36–50
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500,3,36–50
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100,2,26–35
5,6,2023-04-25,CUST006,Female,45,Beauty,1,30,30,1,36–50
6,7,2023-03-13,CUST007,Male,46,Clothing,2,25,50,1,36–50
7,8,2023-02-22,CUST008,Male,30,Electronics,4,25,100,2,26–35
8,9,2023-12-13,CUST009,Male,63,Electronics,2,300,600,3,51+
9,10,2023-10-07,CUST010,Female,52,Clothing,4,50,200,3,51+